<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>吃吃吃 列表</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/webjars/mdui/dist/css/mdui.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/mdui/dist/js/mdui.js}"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <style>
        body{
            background: rgba(190, 62, 160, 0.36) url("img/timg.jpg");
            font-weight: 400;
            font-size: 1em;
            line-height: 1;
            font-family: 'Raleway', Calibri, Arial, sans-serif;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">吃吃吃</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#" onclick="jumpToFirst()">首页<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">列表</a>
            <a class="nav-item nav-link" href="#" onclick="jumpToforth()">再来点好吃的</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
    </div>
</nav>

<p>
    <div class="container">
<p>
<div class="container">
    <form method="get">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">食堂/校外种类</th>
                <th scope="col">所属区域</th>
            </tr>
            </thead>
            <tbody id="CanteenList">
            </tbody>
        </table>
    </form>
</div>

<div class="container">
    <form method="get">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">名称</th>
                <th scope="col">食堂/校外种类</th>
                <th scope="col">类型</th>
            </tr>
            </thead>
            <tbody id="FoodsList">
            </tbody>
        </table>
    </form>
</div>

</body>


<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>

</html>

<script>
    function jumpToFirst() {
        window.location.href ='/random_eating/';
    }
    function jumpToforth() {
        window.location.href ='/random_eating/newOne';
    }

    function showCanteen() {
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "/random_eating/show/list", true);
        req.send();
        //发送请求
        //req.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        //3.监听状态
        req.onreadystatechange = function () {
            //console.log(req.readyState + " " + req.status);
            if (req.readyState == 4 && req.status == 200) {
                //响应成功
                //console.log(req.responseText); //服务器响应回来的string数据
                //将接收json字符创转成Json对象(只能转数组[])
                var str = "";
                var content = JSON.parse(req.responseText);
                var areaList = content.data.areaList;
                var canteenList = content.data.canteenList;
                var foodsList = content.data.foodsList;
                for (var i = 0;i < content.data.canteenNum;i++){
                    str += "<tr>";
                    str += "<td>";
                    str += i+1;
                    str += "</td>";
                    str += "<td>";
                    str += canteenList[i].name;
                    str += "</td>";
                    str += "<td>";
                    str += areaList[canteenList[i].parent - 1].name;
                    str += "</td>";
                    str += "</tr>"
                }
                document.getElementById("CanteenList").innerHTML = str;

            }
        }
    }

    function showFoods() {
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "/random_eating/show/list", true);
        req.send();
        //发送请求
        //req.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        //3.监听状态
        req.onreadystatechange = function () {
            //console.log(req.readyState + " " + req.status);
            if (req.readyState == 4 && req.status == 200) {
                //响应成功
                //console.log(req.responseText); //服务器响应回来的string数据
                //将接收json字符创转成Json对象(只能转数组[])
                var str = "";
                var content = JSON.parse(req.responseText);
                var typeList = content.data.typeList;
                var canteenList = content.data.canteenList;
                var foodsList = content.data.foodsList;
                for (var i = 0;i < content.data.foodsNum;i++){
                    str += "<tr>";
                    str += "<td>";
                    str += i+1;
                    str += "</td>";
                    str += "<td>";
                    str += foodsList[i].name;
                    str += "</td>";
                    str += "<td>";
                    str += canteenList[foodsList[i].parent - 1].name;
                    str += "</td>";
                    str += "<td>";
                    str += typeList[foodsList[i].code - 1].name;
                    str += "</td>";
                    str += "</tr>"
                }
                document.getElementById("FoodsList").innerHTML = str;

            }
        }
    }

    showCanteen();
    showFoods();

</script>